*,
*::before,
*::after {
  box-sizing: border-box;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.txt-center {
  text-align: center !important;
}

html {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  letter-spacing: 0.05rem;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  overflow-x: hidden;
}

body {
  background-image: url("../img/wpp/synth.gif");
  background-position: center;
  background-size: cover;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.29;
  text-align: left;
  width: 100%;
  overflow-x: hidden;
}

div {
  display: block;
  position: relative;
}

.title {
  font-family: "Gabriola", sans-serif;
  margin: 0;
  text-align: center;
  font-size: 3em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main {
  background-color: rgba(216, 191, 216, 0.3);
  border-radius: 8px;
  padding: 15px;
  margin: 20px 50px 10px 50px;
}

.logo {
  width: 30%;
}

p {
  vertical-align: middle;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  margin-top: 10px;
  box-shadow: 2px 2px 1px 0px #d31ac7;
  background: linear-gradient(to bottom, #ff53f4 5%, #ff0ada 100%);
  background-color: #e08dda;
  border-radius: 19px;
  display: inline-block;
  cursor: pointer;
  color: #fff7fc;
  font-size: 22px;
  padding: 6px 20px;
}
.button:hover {
  background: linear-gradient(to bottom, #ff0ada 5%, #ff53f4 100%);
  background-color: #e7a3e7;
}
.button:active {
  position: relative;
  top: 1px;
}

.menu {
  background-color: #d65dce;
  box-shadow: 2px 2px 1px 0px #d835cd;
  font-size: 1.5em;
  display: table;
  width: 98%;
  margin: 5px auto 50px auto;
  border-radius: 5px;
}

.menu a {
  display: table-cell;
  max-width: 0px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 203, 252);
  font-weight: bold;
}

.menu a:hover {
  color: white;
}

.menu a.middle {
  border-right: 5px solid-white;
}

.nav {
  display: inline;
}

.footer {
  height: 100px;
  background-color: rgba(231, 163, 231, 0.9);
}
